<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <title>Регистрация</title>
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>

{% if error %}
  <p style="color: red;">{{ error }}</p>
{% endif %}

{% with messages = get_flashed_messages() %}
 {% if messages %}
  <ul class="flashes">
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
  </ul>
 {% endif %}
{% endwith %}

<form method="POST" class="container py-5 h-100 d-flex flex-column justify-content-between">
 <div class="row d-flex justify-content-center align-items-center h-100">
  <div class="col-12 col-md-8 col-lg-6 col-xl-5">
    <div class="card shadow-2-strong" style="border-radius: 1rem;">
      <div class="card-body p-5 text-center">

         <h3 class="mb-5">Вход</h3>

         <div class="form-outline mb-4">
           <label class="form-label" for="username"></label>
           <input type="text" id="username" class="form-control form-control-lg" name="username" placeholder="Имя пользователя"/>
         </div>

         <div class="form-outline mb-4">
           <label class="form-label" for="password"></label>
           <input type="password" id="password" class="form-control form-control-lg" name="password" placeholder="Пароль"/>
         </div>

         <button type="submit" class="btn btn-outline-dark btn-lg btn-block">Вход</button>


         <button onclick="location.href='/';" type="button" class="btn btn-outline-dark btn-lg btn-block">Назад</button>

      </div>
    </div>
  </div>
 </div>
</form>

</body>
</html>

