<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
</head>
<body>
Страница входа
<button onclick="location.href='/';">Назад</button>

{% if error %}
    <p style="color: red;">{{ error }}</p>
{% endif %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class="flashes">
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<form method="POST">
    <a>
        Никнейм
        <input type="text" name="username">
    </a>

    <a>
        Пароль
        <input type="text" name="password">
    </a>

    <input type="submit" value="Вход">
</form>


</body>
</html>