<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
Страница регистрации
<button onclick="location.href='/';">Назад</button>

{% if error %}
    <p style="color: red;">{{ error }}</p>
{% endif %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class="flashes">
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endwith %}



<form action="/register" method="POST">
   <a>
       Никнейм
       <input type="text" name="username">
   </a>

   <a>
       Пароль
       <input type="text" name="password">
   </a>

    <a>
       Почта
       <input type="text" name="email">
   </a>

   <!-- Добавляем кнопку отправки -->
   <input type="submit" value="Регистрация">
</form>



</body>
</html>