<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>

<h1>Форум</h1>
<style>
    #search {
        width: 300px; /* Задайте нужную вам ширину */
    }
    #category {
        width: 300px; /* Задайте нужную вам ширину */
    }
</style>

<form action="/" method="get">
    <label for="search"></label>
    <input type="text" id="search" class="form-control" name="search" placeholder="Введите название статьи" value="">
    <br>
    <input type="submit" class="btn btn-outline-dark" value="Искать">
</form>

<br>

<form action="/" method="get">
    <label for="category"></label>
    <select id="category" class="form-control form-control-lg" name="category">
        <option value="" disabled selected>Все категории</option>
        {% for cat in categories %}
            <option value="{{ cat[0] }}" {% if cat[0] == selected_category %}selected{% endif %}>{{ cat[0] }}</option>
        {% endfor %}
    </select>
    <br>
    <input type="submit" class="btn btn-outline-dark" value="Фильтровать">
</form>


<form action="/" method="get" style="margin-top: 10px;">
    <input type="submit" class="btn btn-outline-dark" value="Отменить фильтрацию">
</form>

<br>

<div>

    <button onclick="window.location.href='{{ url_for('your_profile_page') }}';" type="button" class="btn btn-outline-dark">Профиль пользователя</button>

</div>


{% for article in articles %}
    <div>Название статьи: {{ article.name_of_article }}</div>
    <duv>Категория: {{ article.category }}</duv>
    <div>Содержание: {{ article.text_of_article }}</div>
    <button onclick="window.location.href='{{ url_for('user_profile_page') }}';" type="button" class="btn btn-outline-dark">Профиль пользователя</button>
    <div>Дата публикации: {{ article.created_at.strftime('%d %B, %Y, %H:%M') }}</div>
    <div>

    <button onclick="window.location.href='{{ url_for('article_details_page', article_id=article.id) }}';" type="button" class="btn btn-outline-dark">Читать далее</button>

    </div>

    <br>
{% endfor %}



</body>
</html>