<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>

<h1>Форум</h1>

<div>

    <button onclick="window.location.href='{{ url_for('your_profile_page') }}';" type="button" class="btn btn-outline-dark">Профиль пользователя</button>

</div>


{% for article in articles %}
    <div>Название статьи: {{ article.name_of_article }}</div>
    <duv>Категория: {{ article.category }}</duv>
    <div>Содержание: {{ article.text_of_article }}</div>
    <div>Автор: {{ article.user.username }}</div>
    <div>Дата публикации: {{ article.created_at.strftime('%d %B, %Y, %H:%M') }}</div>


    <br>
{% endfor %}



</body>
</html>