<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ваш профиль</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    
</head>
<body>

<button onclick="window.location.href='{{ url_for('main_page') }}';" type="button" class="btn btn-outline-dark">Назад</button>

{% if current_user.is_authenticated %}
   <p>Добро пожаловать, {{ current_user.username }}!</p>
    <button onclick="window.location.href='{{ url_for('logout_page') }}';">Выйти</button>

    <br>

    <button onclick="window.location.href='{{ url_for('create_article_page') }}';">Написать статью</button>

    {% for article in articles %}
        <div>Название статьи: {{ article.name_of_article }}</div>
        <div>Содержание: {{ article.text_of_article }}</div>
        {% if article.categories %}
            <div>Категории:
                {% for category in article.categories %}
                    {{ category.name_of_category }}
                {% endfor %}
            </div>
        {% endif %}
        <p>Автор: {{ article.user.username }}</p>
        <br>
    {% endfor %}


{% else %}
   <p>Извините, я вас не знаю.</p>
    <button onclick="window.location.href='{{ url_for('register_page') }}';">Регистрация</button>
    <button onclick="window.location.href='{{ url_for('login_page') }}';">Войти</button>
{% endif %}

</body>
</html>