<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ваш профиль</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

</head>
<body>

<button onclick="window.location.href='{{ url_for('main_page') }}';" type="button" class="btn btn-outline-dark">Назад</button>

{% if current_user.is_authenticated %}
   <p>Добро пожаловать, {{ current_user.username }}!</p>
    <button onclick="window.location.href='{{ url_for('logout_page') }}';" type="button" class="btn btn-outline-dark">Выйти</button>

    <br>
    {% if current_user.avatar %}
        <img src="{{ url_for('static', filename=current_user.avatar) }}" alt="Avatar" style="max-width: 100px; max-height: 100px;">

    {% endif %}
    <form action="{{ url_for('upload_avatar') }}" method="post" enctype="multipart/form-data">
        <label for="avatar">Загрузить аватар:</label>
        <input type="file" name="avatar" accept=".jpg, .jpeg, .png">
        <button type="submit" class="btn btn-outline-dark">Загрузить</button>
    </form>

    <button onclick="window.location.href='{{ url_for('create_article_page') }}';" type="button" class="btn btn-outline-dark">Написать статью</button>

    {% for article in articles %}
        <div>Название статьи: {{ article.name_of_article }}</div>
        <duv>Категория: {{ article.category }}</duv>

        <div>Содержание: {{ article.text_of_article }}</div>

        <div>Дата публикации: {{ article.created_at.strftime('%d %B, %Y, %H:%M') }}</div>


        <button onclick="window.location.href='{{ url_for('delete_article_page', id=article.id) }}';" type="button" class="btn btn-outline-dark">Удалить статью</button>
        <button onclick="window.location.href='{{ url_for('update_article_page', id=article.id) }}';" type="button" class="btn btn-outline-dark">Редактировать статью</button>

        <br>
    {% endfor %}


{% else %}
   <p>Извините, я вас не знаю.</p>
    <button onclick="window.location.href='{{ url_for('register_page') }}';" type="button" class="btn btn-outline-dark">Регистрация</button>
    <button onclick="window.location.href='{{ url_for('login_page') }}';" type="button" class="btn btn-outline-dark">Войти</button>
{% endif %}

</body>
</html>